* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none; }

.body {
  font-family: sans-serif;
  text-transform: capitalize;
  background: linear-gradient(90deg, #a65dea 25% #cf67eb 73%);
  box-sizing: border-box;
  list-style: none; }

main {
  background-color: #055377;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

footer {
  background-color: #24262b;
  padding-top: 20px;
  margin-top: 30px; }

.container .footer-row {
  display: flex;
  flex-wrap: wrap; }

.container .footer-link {
  width: 50%;
  padding: 0 15px; }
  .container .footer-link h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
    display: inline-block; }
  .container .footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease; }
    .container .footer-link ul li a:hover {
      color: #ffffff;
      padding-left: 6px; }

.container .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease; }
  .container .social-link a:hover {
    background-color: #00c3ff; }

.grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #ffffff; }
  .grupo-2 small {
    font-size: 15px; }

header {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: none; }
  header .back {
    padding: 32px 0;
    background-color: #2a394f; }
    header .back .menu-1 {
      max-width: 1200px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 1000; }
      header .back .menu-1 .menu {
        display: none; }
      header .back .menu-1 .logo {
        display: flex;
        color: #ffffff;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        font-family: none;
        text-decoration: none; }
      header .back .menu-1 .navbar {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 0 var(--padding_left_right); }
        header .back .menu-1 .navbar ul li {
          position: relative;
          float: left; }
          header .back .menu-1 .navbar ul li a {
            text-decoration: none;
            font-size: 18px;
            padding: 20px;
            color: #ffffff;
            display: block; }
            header .back .menu-1 .navbar ul li a:hover {
              color: #0a1a2a; }

main .img-index {
  width: 400px;
  height: 250px; }
  main .img-index .img-1 {
    width: 100%;
    height: 100%; }
  main .img-index .img-2 {
    width: 100%;
    height: 100%; }

main .parrafo-1 {
  margin: 50px;
  text-align: right;
  font-size: 30px;
  color: #ffffff; }

main .parrafo-2 {
  margin: 40px;
  padding: 20px;
  text-align: right;
  font-size: 30px;
  color: #ffffff; }

.contain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "CORTE-1 . CORTE-2" ". -CORTES ." "CORTE-3 . CORTE-4"; }
  .contain .CORTES {
    color: #ffffff;
    grid-area: -CORTES; }
  .contain .CORTES h1 {
    text-align: center;
    display: flex;
    justify-content: space-around; }
  .contain .CORTES p {
    text-align: center; }
  .contain .CORTE-1 {
    grid-area: CORTE-1; }
  .contain .CORTE-1 img {
    width: 100%;
    height: 180px; }
  .contain .CORTE-2 {
    grid-area: CORTE-2; }
  .contain .CORTE-2 img {
    width: 100%;
    height: 180px; }
  .contain .CORTE-3 {
    grid-area: CORTE-3; }
  .contain .CORTE-3 img {
    width: 100%;
    height: 180px; }
  .contain .CORTE-4 {
    grid-area: CORTE-4; }
  .contain .CORTE-4 img {
    width: 100%;
    height: 180px; }

.contactos {
  text-align: left;
  font-size: 30px;
  color: #FFFFFF; }

section .parrafo-3 {
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: #FFFFFF; }

section .contactos-link {
  margin: 40px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF; }

section .social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #FFFFFF;
  transition: all .5s ease; }

.img-contac {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .img-contac .img-contac-1 {
    width: 400px;
    height: 200px; }
  .img-contac .img-contac-2 {
    width: 400px;
    height: 200px; }
  .img-contac .img-contac-3 {
    width: 400px;
    height: 200px; }

.iframe {
  display: flex;
  justify-content: space-around; }

.title {
  margin: 20px;
  padding: 20px;
  color: #FFFFFF;
  text-align: center; }

.section-nosotros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .section-nosotros .caja-1 {
    background-color: #00c3ff;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    font-size: none;
    display: flex; }
    .section-nosotros .caja-1 .parrafo-3 {
      margin: 40px;
      padding: 20px;
      text-align: center;
      font-size: 15px;
      color: #01011b; }
  .section-nosotros .caja-2 {
    background-color: #00c3ff;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    font-size: none;
    display: flex; }
    .section-nosotros .caja-2 .parrafo-3 {
      margin: 40px;
      padding: 20px;
      text-align: center;
      font-size: 15px;
      color: #01011b; }
  .section-nosotros .caja-3 {
    background-color: #00c3ff;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    font-size: none;
    display: flex; }
    .section-nosotros .caja-3 .parrafo-3 {
      margin: 40px;
      padding: 20px;
      text-align: center;
      font-size: 15px;
      color: #01011b; }

.button {
  color: #00c3ff; }

.resolucion {
  width: 99%;
  text-align: center; }

@media (max-width: 400px) {
  main .img-index {
    width: 100%; } }

@media (max-width: 580px) {
  header .back {
    height: 155px; }
    header .back .menu-1 .navbar ul {
      display: flex;
      flex-direction: column; }
      header .back .menu-1 .navbar ul li {
        margin: 0;
        padding: 0; }
        header .back .menu-1 .navbar ul li a {
          padding: 5px; } }

@media (max-width: 767px) {
  header .back .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right); } }

.footer-row {
  text-align: center; }
  .footer-row .footer-link {
    width: 100%;
    margin-bottom: 30px; }

@media (max-width: 768px) {
  header .back .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right); } }

.footer-row {
  text-align: center; }
  .footer-row .footer-link {
    width: 100%;
    margin-bottom: 30px; }

@media (max-width: 991px) {
  header .back .menu-1 .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right); } }

.footer-row {
  text-align: center; }
  .footer-row .footer-link {
    width: 100%;
    margin-bottom: 30px; }
