main {
  .img-1 {
    width: 450px;
    }
  .parrafo-1 {
    margin: 50px;
    text-align: right;
    font-size: 30px;
    color: #ffffff;
    }
  .img-2 {
    width: 350px;
    height: 250px;
    }
  .parrafo-2 {
    margin: 40px;
    padding: 20px;
    text-align: right;
    font-size: 30px;
    color: #ffffff;
    }
}
