.title {
    margin: 20px;
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
}
.caja-1 {
    background-color: #00c3ff;
    width: 300px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    font-size: none;
    display: flex;
    .parrafo-3 {
        margin: 40px;
        padding: 20px;
        text-align:center;
        font-size: 15px;
        color: #FFFFFF;
    }
}
.button {
    color: #00c3ff;
}
  
